.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color:white;
}
.bg-gray{
    background-color: #121212;
    color: white;
}
.invert{
    filter: invert(1);
}
.rounded{
    border-radius: 10px;
}
.m1{
    margin: 5px;
}
.p1{
    padding: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-thumb {
    background: hsl(0deg 0% 35.29%);
    height: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }